.avatar-show-img {
    width: 128px;
    height: 128px;
    position: center;
}
.profile-block{
    color: white;
    h3{
        margin-top: 0px;
    }
}
.well.profile-description{
    background: #5cb85c;
    border-color: #4cae4c;
}
.well.profile-info{
    background: #5bc0de;
    border: #46b8da;
}