.avatar-show-img {
    width: 128px;
    height: 128px;
    position: center;
}
.profile-block{
    color: white;
    h3{
        margin-top: 0px;
    }
}
.well.profile-description{
    background: #5cb85c;
    border-color: #4cae4c;
}
.well.profile-info{
    background: #5bc0de;
    border: #46b8da;
}
.job_title_icon{
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 2px solid #2e6da4;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    text-align: center;
}